<div class="container">
  <div class="row">
    <div class="col-12 text-center mt-5">
      <img
        src="assets\Images\321-3218199_warning-sign-clipart-warning-sign-icon-png-transparent-1024x894.webp"
        alt="Error"
        class="img-fluid w-25"
      />
      <h1 class="display-4 mt-4">Oops! Something went wrong</h1>
      <p class="lead mt-3">
        We're sorry, but it looks like there was an error processing your
        request.
      </p>
      <p>Please try again later or contact customer support for assistance.</p>
      <a routerLink="/" class="btn btn-primary mt-3">Back to home</a>
    </div>
  </div>
</div>
