<!--User details Toolbar-->
<div class="container-fluid">
  <div class="row">
    <mat-toolbar color="primary">
      <div class="field col-4" id="name">
        <span class="value">{{ user?.name }}</span>
      </div>
      <div class="field col-4">
        <div class="value" id="email">{{ user.email }}</div>
        <div class="value" id="phone">{{ user.phone }}</div>
      </div>
      <div class="field col-4">
        <div class="value" id="address">
          {{
            user.address.suite +
              " " +
              user.address.street +
              " " +
              user.address.city
          }}
        </div>
      </div>
    </mat-toolbar>
  </div>
</div>

<!--Album Cards-->
<div class="container mt-5" *ngIf="user && albums">
  <div class="row">
    <h1 style="text-align: center; color: rgba(253, 141, 13, 0.808)">
      {{ user.name + "'s " + "Albums" }}
    </h1>
    <hr />
    <div id="album-cards" class="col-lg-4" *ngFor="let album of albums">
      <a [routerLink]="['/albums', album.id]" style="text-decoration: none">
        <div id="card">
          <div id="card-album">
            <h5 style="text-align: center; font-size: 30px">
              {{ "ALBUM" + " " + album.id }}
            </h5>
          </div>
          <div id="card-photo">
            <p style="color: black; font-weight: bold; font-size: 17px">
              {{ photosCount }}
            </p>
            <p style="text-align: center; margin-bottom: 0; color: black">
              Photos
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
