<!--Tool bar with the add button-->
<mat-toolbar
  color="primary"
  class="d-flex justify-content-between align-items-center;"
>
  <div style="margin-left: 200px">Users</div>
  <button mat-raised-button style="margin-right: 200px" (click)="addUser()">
    + Add User
  </button>
</mat-toolbar>

<div class="container">
  <mat-form-field class="col-12 py-3">
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. Mohamed"
      #input
    />
  </mat-form-field>

  <!--Table-->
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">
          <a id="name" routerLink="/users/{{ row.id }}">{{ row?.name }}</a>
        </td>
      </ng-container>

      <!-- email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let row">{{ row?.email }}</td>
      </ng-container>

      <!-- Phone Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
        <td mat-cell *matCellDef="let row">{{ row?.phone }}</td>
      </ng-container>

      <!-- Address Column -->
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
        <td mat-cell *matCellDef="let row">
          {{
            row?.address.suite +
              " " +
              row?.address.street +
              " st.  " +
              row?.address.city
          }}
        </td>
      </ng-container>
      <!-- Add Column -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Edit</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" (click)="editUser(row)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>
      <!-- delete Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Delete</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="warn" (click)="deleteUser(row.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of users"
    ></mat-paginator>
  </div>
</div>
